<div class="well">
  <%= render 'common/search_bar' %>
</div>
<% if  @articles.blank? %>
  <h1>采集</h1>
  <p><%= @url %></p>
  <p><%= link_to "查看最新", last_path %></p>
<% else %>

  <div class="row-fluid">
    <div class="span12">
      <h1>查找：<%= @page_title %></h1>
      <%- if @articles && @articles.length > 0 -%>
        <ol>
          <%= render :partial => "share/list", :collection => @articles %>
        </ol>
        <%= paginate @articles, :outer_window => 4, :inner_window => 4 -%>
      <%- else -%>
        <p>没有内容。.</p>
      <%- end -%>
    </div>
  </div>


<% end %>

