<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Web url:</b>
  <%= @task.web_url %>
</p>

<p>
  <b>Verification:</b>
  <%= @task.verification %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Exec num:</b>
  <%= @task.exec_num %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
