<% posts.each_with_index do |post, i|%>
  <p class='text-right bottom-txt'><%= post.created_at %>, <%= post.level %>楼 </p>
  <div class="font_big">
    <%= raw post.content %>
  </div>
  <% if i == 0 %>
    <div class="col-xs-12 center">
      <%= raw Page.ad1.first.body if Page.ad1.first %>
    </div>
  <% end %>
  <% if i == 5 && posts.length > 8 %>
    <div class="col-xs-12 center">
      <%= raw Page.ad1.first.body if Page.ad1.first %>
    </div>
  <% end %>
<% end %>

