<% title = @topic.mytitle %>

	<h1><%= @topic.mytitle %></h1>

  <% if @topic.posts && @topic.posts.length > 0 %>
    <%= render :partial => "post", :locals => {:posts => @topic.posts} %>
  <% end %>

<div class="row-fluid show-grid">
		<div class="span12">
			<%= @topic.id %><br/>
			<%= @topic.author %><br>
			<%= @topic.tags.to_sentence(:two_words_connector => ",", :last_word_connector => "," ) %>
		</div>
</div>
