<h3>车灯列表</h3>
<form class="form-inline" action="<%=  search_lamps_path %>"  method = "get"   target = "_blank">
  <div class="col-xs-12">
    <div class="input-group">
      <%= text_field_tag(:q , '', :class => "form-control" , :placeholder => "输入车型")  %>
      <span class="input-group-btn">
        <%= submit_tag("搜索", :class => "su btn btn-primary") %>
      </span>
    </div>
  </div>
</form>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th><%= t('lamps.emaker') %></th>
      <th><%= t('lamps.brand') %></th>
      <th><%= t('lamps.maker') %></th>
      <th><%= t('lamps.model') %></th>
      <th><%= t('lamps.begin_year') %></th>
      <th><%= t('lamps.end_year') %></th>

      <th><%= t('lamps.high_beam') %></th>
      <th><%= t('lamps.low_beam') %></th>
      <th><%= t('lamps.fog_light') %></th>
      <th><%= t('lamps.rear_fog_light') %></th>

      <th><%= t('lamps.front_signal') %></th>
      <th><%= t('lamps.rear_signal') %></th>

      <th><%= t('lamps.front_turn_signal') %></th>
      <th><%= t('lamps.rear_turn_signal') %></th>
      <th><%= t('lamps.side_turn_signal') %></th>
      <th><%= t('lamps.brake_light') %></th>
      <th><%= t('lamps.high_brake_light') %></th>
      <th><%= t('lamps.reversing_lamp') %></th>
      <th><%= t('lamps.lamp_head') %></th>

      <th><%= t('lamps.note') %></th>
      <th><%= t('options') %></th>
    </tr>
  </thead>

  <tbody>
    <% @lamps.each do |lamp| %>
      <tr>
        <td><%= lamp.emaker %></td>
        <td><%= lamp.brand %></td>
        <td><%= lamp.maker %></td>
        <td><%= lamp.model %></td>
        <td><%= lamp.begin_year %></td>
        <td><%= lamp.end_year %></td>
        <td><%= lamp.high_beam %></td>
        <td><%= lamp.low_beam %></td>
        <td><%= lamp.fog_light %></td>
        <td><%= lamp.rear_fog_light %></td>

        <td><%= lamp.front_signal %></td>
        <td><%= lamp.rear_signal %></td>

        <td><%= lamp.front_turn_signal %></td>
        <td><%= lamp.rear_turn_signal %></td>
        <td><%= lamp.side_turn_signal %></td>
        <td><%= lamp.brake_light %></td>
        <td><%= lamp.high_brake_light %></td>
        <td><%= lamp.reversing_lamp %></td>

        <td><%= lamp.lamp_head %></td>
        <td><%= lamp.note %></td>
        <td><%= link_to t('show'), lamp %>
          <%= link_to t('duplicate'), clone_lamp_path(lamp), rel: "nofollow", method: :post, :class => 'red' %>
          <%= link_to t('edit'), edit_lamp_path(lamp) %>
          <%= link_to t('destroy'), lamp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @lamps %>
<br>

<%= link_to t('lamps.new'), new_lamp_path %>
