<p id="notice"><%= notice %></p>

<p>
  <strong>Emaker:</strong>
  <%= @lamp.emaker %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @lamp.maker %>
</p>

<p>
  <strong>Model:</strong>
  <%= @lamp.model %>
</p>

<p>
  <strong>Begin year:</strong>
  <%= @lamp.begin_year %>
</p>

<p>
  <strong>End year:</strong>
  <%= @lamp.end_year %>
</p>

<p>
  <strong>High beam:</strong>
  <%= @lamp.high_beam %>
</p>

<p>
  <strong>Low beam:</strong>
  <%= @lamp.low_beam %>
</p>

<p>
  <strong>Fog light:</strong>
  <%= @lamp.fog_light %>
</p>

<p>
  <strong>Front signal:</strong>
  <%= @lamp.front_signal %>
</p>

<p>
  <strong>Front turn signal:</strong>
  <%= @lamp.front_turn_signal %>
</p>

<p>
  <strong>Rear turn signal:</strong>
  <%= @lamp.rear_turn_signal %>
</p>

<p>
  <strong>Brake light:</strong>
  <%= @lamp.brake_light %>
</p>

<p>
  <strong>Side turn signal:</strong>
  <%= @lamp.side_turn_signal %>
</p>

<p>
  <strong>Note:</strong>
  <%= @lamp.note %>
</p>

<%= link_to 'Edit', edit_lamp_path(@lamp) %> |
<%= link_to 'Back', lamps_path %>
