<h3>灯的种类</h3>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('lamp_sets.name')%></th>
      <th><%= t('lamp_sets.volts')%></th>
      <th><%= t('lamp_sets.watts')%></th>
      <th><%= t('lamp_sets.base')%></th>
      <th><%= t('lamp_sets.style')%></th>
      <th><%= t('lamp_sets.note')%></th>
      <th><%= t('options')%></th>
    </tr>
  </thead>

  <tbody>
    <% @lamp_sets.each_with_index do |lamp_set, i| %>
      <tr>
        <td><%= i + 1  %></td>
        <td><%= lamp_set.name %></td>
        <td><%= lamp_set.volts %></td>
        <td><%= lamp_set.watts %></td>
        <td><%= lamp_set.base %></td>

        <td><%= lamp_set.style %></td>
        <td><%= lamp_set.note %></td>
        <td><%= link_to t('show'), lamp_set %><%= link_to t('edit'), edit_lamp_set_path(lamp_set) %><%= link_to t('destroy'), lamp_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new'), new_lamp_set_path %>
