<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @lamp_set.name %>
</p>

<p>
<strong>Style:</strong>
<%= @lamp_set.style %>
</p>

<p>
<strong>Note:</strong>
<%= @lamp_set.note %>
</p>
<hr />

<p>
<% @lamp_set.lamp_paras.each do |item| %>
  <%= item.name %> : <%= item.value %> : <%= item.note %> 
  <%= link_to '删除', lamp_set_lamp_para_path(@lamp_set, item) , method: :delete, data: { confirm: '确定？' } %>
  <br />
<% end %>
</p>
<hr />
<%= form_for [@lamp_set, LampPara.new] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.collection_select :name, LampPara::DEMOS, :to_s, :humanize ,{:prompt => "选择标准"} %> 
    <%= f.label :value %>
    <%= f.text_field :value, size:  "20" %>
    <%= f.label :note %>
    <%= f.text_field :note, size: "20" %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Edit', edit_lamp_set_path(@lamp_set) %> |
<%= link_to 'Back', lamp_sets_path %>
