<%- title "采_" -%>

<h1>第一页</h1>
<table class="tianyapage">
  <tbody >
    <tr>
      <th>序号</th>
      <th>标题</th>
      <th>作者</th>
      <th>点击</th>
      <th>回复</th>
      <th>时间</th>
			<th>t-4</th>
    </tr>

<%- if @lists && @lists.length > 0 -%>
<%	 @lists.each_with_index do |t, i|  %>
    <tr>
      <td><%= i %></td>
      <td class="alt"><%= t[0] %></td>
      <td><%= t[1] %></td>
      <td><%= t[2] %></td>
      <td class="alt"><%= t[3] %></td>
      <td >
        <%= link_to  t[5], t[5], title: '查看原贴', target: '_blank' %>
      </td>
      <td><%= t[4] %></td>
    </tr>
<%	 end %>
<% end %>
  </tbody>

</table>
