<h1>任务管理</h1>
<div class="well">
	<div class="btn-group">
	  <%= link_to "自动采集豆瓣", douban_group_admin_tasks_path, class: "btn btn-primary btn-large" %> 
	  <%= link_to "自动采集天涯", tianyabbs_admin_tasks_path, class: "btn btn-primary btn-large" %> 
	</div>
</div>

<div class="alert alert-info">
<h3>所有任务列表</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Status</th>
    <th>Assign</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_tasks.each do |admin_task| %>
  <tr>
    <td><%= admin_task.name %></td>
    <td><%= admin_task.type %></td>
    <td><%= admin_task.status %></td>
    <td><%= admin_task.assign %></td>
    <td><%= admin_task.content %></td>
    <td><%= link_to 'Show', admin_task %></td>
    <td><%= link_to 'Edit', edit_admin_task_path(admin_task) %></td>
    <td><%= link_to 'Destroy', admin_task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Task', new_admin_task_path %>
