<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_task.name %>
</p>

<p>
  <b>Type:</b>
  <%= @admin_task.type %>
</p>

<p>
  <b>Status:</b>
  <%= @admin_task.status %>
</p>

<p>
  <b>Assign:</b>
  <%= @admin_task.assign %>
</p>

<p>
  <b>Content:</b>
  <%= @admin_task.content %>
</p>


<%= link_to 'Edit', edit_admin_task_path(@admin_task) %> |
<%= link_to 'Back', admin_tasks_path %>
