<% @page_title = "首页" %>
<% @meta_keywords =  "只看楼主,直播,十大社区直播帖,脱水,脱水文章,小说" ) %>
<% @meta_description = "记录互联网优质、热门文章，管理、阅读和分享好文章。" %>


<%- unless @page.nil? -%>
  <p class="text-info">
  <span class='glyphicon glyphicon-bullhorn'><%= sanitize @page.body %></span>
  </p>
<%- end -%>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h4>最新脱水</h4>
    <ul>
      <%= render :partial => "homeitem", :collection => @articles %>
    </ul>
  </div>
  <div class="col-xs-12 col-md-6">
    <h4>热门推荐</h4>
    <ol>
      <%= render :partial => "homeitem", :collection => @hot_articles %>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <%= render 'common/search_bar' %>
  </div>
</div>
<div class="row"> 
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- first-row-ad -->
  <ins class="adsbygoogle"
    style="display:inline-block;width:728px;height:90px"
    data-ad-client="ca-pub-3325334001171867"
    data-ad-slot="7647133436"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

</div>
<div class="panel panel-default">
  <div class="panel-heading">友情链接</div>
    <div class="panel-body">
      <%- @flinks.each do |item| -%>
        <%= link_to item.name , item.url ,target: '_blank', :class => "mlink" %>
      <%- end -%>
  </div>
</div>
