<% @page_title = "首页" %>
<%- unless @page.nil? -%>
  <div class="alert alert-info">
    <i class="icon-bullhorn"></i> : <%= raw @page.body %>
  </div>
<%- end -%>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h4>最新脱水</h4>
    <ul>
      <%= render :partial => "homeitem", :collection => @articles %>
    </ul>
  </div>
  <div class="col-xs-12 col-md-6">
    <h4>热门推荐</h4>
    <ol>
      <%= render :partial => "homeitem", :collection => @hot_articles %>
    </ol>
  </div>
</div>
<div class="well">
  <%= render 'common/search_bar' %>
</div>
<div class="well">
  <p>简单布局，突出内容，明确主题，智能的后台.增加用户阅读管理功能，使用腾讯和其他网站帐户登录
  ，一键分享功能。多家网站帖子统一入口管理，实时跟踪保存多个社区的连载、直播贴.</p>
  <p>
  <%- @flinks.each do |item| -%>
    <%= link_to item.name , item.url ,target: '_blank' %>
  <%- end -%>
  </p>
</div>
