<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @novel.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @novel.author %>
</p>

<p>
  <strong>Published:</strong>
  <%= @novel.published %>
</p>

<%= link_to 'Edit', edit_novel_path(@novel) %> |
<%= link_to 'Back', novels_path %>
