<%= form_for(@cpanel_task) do |f| %>
  <% if @cpanel_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpanel_task.errors.count, "error") %> prohibited this cpanel_task from being saved:</h2>

      <ul>
      <% @cpanel_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :assign %><br />
    <%= f.text_field :assign %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
