<h1><%= t('weixins') %></h1>

 <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ask</th>
      <th>Answer</th>
      <th>Words count</th>
      <th>Created at</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weixins.each do |weixin| %>
      <tr>
        <td><%= weixin.name %></td>
        <td><%= weixin.ask %></td>
        <td><%= weixin.answer %></td>
        <td><%= weixin.words_count %></td>
        <td><%= weixin.created_at %></td>
        <td><%= link_to 'Edit', edit_weixin_path(weixin) %></td>
        <td><%= link_to 'Show', weixin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @weixins %>
