<%= form_for(@cpanel_event) do |f| %>
  <% if @cpanel_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpanel_event.errors.count, "error") %> prohibited this cpanel_event from being saved:</h2>

      <ul>
      <% @cpanel_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
