<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= yield :styles %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
 <% if mobile? %>
    <%= stylesheet_link_tag "mobile" %>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content='True' name='HandheldFriendly' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% end %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <meta charset='utf-8' />
  <link rel="shortcut icon" href="<%= asset_path("big_logo.png") %>" /> 
  <%= csrf_meta_tag %>
</head>

<body data-offset="50">
  <%= yield :pre_content %>
  <%= yield :layout%>
  <%= yield :after_content %>
  <%= debug(params) if Rails.env.development? %>
  <%= google_analytics  %>
</body>
</html>
