<% content_for :styles do %>
  <%= stylesheet_link_tag "application" %>
<% end %>

<% content_for :pre_content do %>
  <div class="navbar navbar-static-top navbar-inverse bs-upgrader-nav">
    <div class="container">
      <nav class="navbar-collapse bs-navbar-collapse">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><%= t('site_name') %></a> 
      </div>
      <div class="collapse navbar-collapse bs-js-navbar-collapse">
        <%= render "common/user_nav_li" %>
      </div>
      </nav>
  </div>
</div>
<div class="container">
  <div>
    <!--
    <ul class="breadcrumb">
      <li>
      <a href="/">首页</a> <span class="divider">/</span>
      </li>
    </ul>
    -->
    <%#= render_breadcrumb %>
  </div>
  <%= notice_message %>
  <% end %>
  <% content_for :after_content do %>
  <footer class="footer">
  <div class="container">
    <hr>
    <p class="pull-right"><a href="/flinks/new">自助添加友情链接</a></p>
    <p class="links">
    <a href="http://www.tuoshuiba.com/about">关于本站</a> 
    </p>
    <p>
    版权说明：本站为方便网友查看帖子的工具，网站里面的内容来之各大社区，版权归原作者所有，详情请查看<a href="http://www.tuoshuiba.com/about.html">脱水吧</a>。
    </p>
  </div>
  </footer>
</div>
<%= javascript_include_tag "application" %>
<% end %>
<%= render :file => "layouts/abstract" %>
